{% extends "base.html" %}
{% block title %}Friendship requests{% endblock %}
{% block content %}
{% load tz %}
    <h1>Your friendship requests</h1>
    <h3>Incoming:</h3>

    {% for req in incoming %}
    <ul class="list-group">
        <li class="list-group-item">
        <p>Request from {{ req.from_user }} created at {{ req.created_at }}</p>
        <div style="display: inline-block;">
            <form method="POST", action="accept">
                {% csrf_token %}
                <input type="hidden" name="from_user" value="{{ req.from_user }}">
                <button type="submit"  class="btn btn-success">Accept</button>
            </form>
        </div>
        <div style="display: inline-block;">
            <form method="POST", action="reject">
                {% csrf_token %}
                <input type="hidden" name="from_user" value="{{ req.from_user }}">
                <button type="submit" class="btn btn-danger">Reject</button> 
            </form>
        </div>
        </li>
    </ul>
    {% endfor %}

    <h3>Outcoming:</h3>
    {% for req in outcoming %}
    <ul class="list-group">
        <li class="list-group-item">
        <form method="POST", action="withdraw">
        {% csrf_token %}
            <p>Request from {{ req.to_user }} created at {{ req.created_at }}</p>
            <input type="hidden" name="to_user" value="{{ req.to_user }}">
            <button type="submit" class="btn btn-success">Withdraw</button><br/>
        </form>
        </li>
    </ul>
{% endfor %}

<a href="add_friend" class="btn btn-dark">Add friend</a>

{% endblock %}