{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}Log-in{% endblock %}
{% block content %}
            <h2 class="display">Log in</h2>
          <p class="lead">Please, use the following form to log-in:</p>
        <div class="container col-6 pb-3">
            <form action="/login" method="post">
                {{ form|crispy }}
                {% csrf_token %}
                <input type="submit" value="Log-in" class="btn btn-dark w-25 mt-3"><br/>
                <a href="/signup" class="btn">or you can Sign up</a>
            </form>
        </div>
        </div>
        </div>
    </div>
{% endblock %}